# Generator
### Python generator are a easy method to write iterator

In [3]:
def gen_demo(): # there is no return statement in generators
    yield "first statement"
    yield "second statement"
    yield "third statement"

In [6]:
gen=gen_demo()
gen

In [7]:
next(gen)

'first statement'

In [8]:
for i in gen:
    print(i)

second statement
third statement

# Difference between return and yield

In [10]:
def square(num):
    for i in range(1,num+1):
        yield i**2

In [12]:
gen =square(1000)
print(next(gen))
print(next(gen))
print(next(gen))

1
4
9

### range function using generator

In [13]:
def range_func(start,end):
    while(start<end):
        yield start
        start+=1

In [14]:
gen =range_func(1,10)
for i in gen:
    print(i)

1
2
3
4
5
6
7
8
9

## Generator Expression

In [15]:
gen =(i**2 for i in range(1,100))
for i in gen:
    print(i,end=" ")

1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500 2601 2704 2809 2916 3025 3136 3249 3364 3481 3600 3721 3844 3969 4096 4225 4356 4489 4624 4761 4900 5041 5184 5329 5476 5625 5776 5929 6084 6241 6400 6561 6724 6889 7056 7225 7396 7569 7744 7921 8100 8281 8464 8649 8836 9025 9216 9409 9604 9801