In [4]:
names = ["Anjali", "Ravi", "Meera", "Kunal", "Neha"]
marks = [85, 42, 77, 64, 90]

In [5]:
for i in names:
    print(i,end=" ")

Anjali Ravi Meera Kunal Neha

In [6]:
marks[1]=55
marks

[85, 55, 77, 64, 90]

In [8]:
names.append("Amit")
marks.append("81")
print(names)
print(marks)

['Anjali', 'Ravi', 'Meera', 'Kunal', 'Neha', 'Amit', 'Amit']
[85, 55, 77, 64, 90, '81', '81']

In [9]:
names.pop()

'Amit'

In [10]:
marks.pop()

'81'

In [11]:
print(names)
print(marks)

['Anjali', 'Ravi', 'Meera', 'Kunal', 'Neha', 'Amit']
[85, 55, 77, 64, 90, '81']

In [13]:
idx=names.index("Kunal")
idx

3

In [14]:
names.remove("Kunal")

In [15]:
names

['Anjali', 'Ravi', 'Meera', 'Neha', 'Amit']

In [16]:
marks.remove(marks[3])

In [17]:
print(names)
print(marks)

['Anjali', 'Ravi', 'Meera', 'Neha', 'Amit']
[85, 55, 77, 90, '81']

In [18]:
print(names[:3:])
print(marks[:3:])

['Anjali', 'Ravi', 'Meera']
[85, 55, 77]

In [21]:
names=sorted(names)
names

['Amit', 'Anjali', 'Meera', 'Neha', 'Ravi']

In [23]:
marks

[85, 55, 77, 90, '81']

In [26]:
marks=sort(marks)

NameError: name 'sort' is not defined

In [28]:
l=[ for i in range(0,len(name)) if marks[i]>=50 print(names[i],"-",marks[i],"-","pass") else print(names[i],"-",marks[i],"-","Fail") ]

SyntaxError: invalid syntax (2372308305.py, line 1)

In [29]:
marks[4]=81

In [30]:
marks

[85, 55, 77, 90, 81]

In [31]:
results = ["Pass" if int(m) >= 50 else "Fail" for m in marks]

In [33]:
results

['Pass', 'Pass', 'Pass', 'Pass', 'Pass']

In [45]:
marks.sort(reverse=True)  # ✅ for descending order

AttributeError: 'NoneType' object has no attribute 'sort'

In [46]:
for i in range(len(names)):
    print(f"{names[i]} - {marks[i]} - {results[i]}")

TypeError: 'NoneType' object is not subscriptable

In [47]:
names = ["Anjali", "Ravi", "Meera", "Neha", "Amit"]
marks = [85, 55, 77, 90, 81]

results = ["Pass" if m >= 50 else "Fail" for m in marks]

for i in range(len(names)):
    print(f"{names[i]} - {marks[i]} - {results[i]}")

Anjali - 85 - Pass
Ravi - 55 - Pass
Meera - 77 - Pass
Neha - 90 - Pass
Amit - 81 - Pass

In [53]:
t=(("delhi","2 may"  ,"3 may" ,1 ,"taj"),("agara","2 may"  ,"4 may" ,3 ,"taj"),("mathura","2 may"  ,"3 may" ,1 ,"taj"))
n=len(t)
for i in range(0,n):
    print(f"{t[i][0]}- {t[i][1]}-{t[i][2]}-{t[i][3]}-{t[i][4]}")

#hotel name
for i in range(0,n):
    print(t[i][4])

t[1][4]="man"
print(t)

l=list(t)
print(l)

delhi- 2 may-3 may-1-taj
agara- 2 may-4 may-3-taj
mathura- 2 may-3 may-1-taj
taj
taj
taj

TypeError: 'tuple' object does not support item assignment

In [49]:
t

(('delhi', '2 may', '3 may', 1, 'taj'),
 ('agara', '2 may', '4 may', 3, 'taj'),
 ('mathura', '2 may', '3 may', 1, 'taj'))

In [54]:
# Modify hotel name for each itinerary by converting sub-tuples to lists
t = (("delhi", "2 may", "3 may", 1, "taj"),
     ("agara", "2 may", "4 may", 3, "taj"),
     ("mathura", "2 may", "3 may", 1, "taj"))

# Step 1: Convert main tuple to list
l = list(t)

# Step 2: Convert each sub-tuple to list
for i in range(len(l)):
    l[i] = list(l[i])
    l[i][4] = "Welcome Inn"  # New hotel name

# Step 3: Convert back to tuple
new_t = tuple(tuple(i) for i in l)

print(new_t)

(('delhi', '2 may', '3 may', 1, 'Welcome Inn'), ('agara', '2 may', '4 may', 3, 'Welcome Inn'), ('mathura', '2 may', '3 may', 1, 'Welcome Inn'))